.formulaire {
    margin-left: auto;
    width: 500px;
}

.label_formulaire {
    width: 170px;
}

.rois {
    margin-top: 20px;
    margin-left: -20px;
}

.decalage-rois {
    margin-left: 300px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}